In [1]:
import pandas as pd
import numpy as np
import json
import os
import time
import tldextract

In [32]:

def collect_tweets(sources, label):
    path = "{}/{}/".format(sources, label)
    news_dirs = os.listdir(path)
    tweet_dict_list = []
    cnt = 0
    for news_dir in news_dirs:
        if news_dir == '.DS_Store':
            continue
        if os.listdir(path + news_dir):
            tweets_dir = path + news_dir + '/tweets/'
            news_id = ''
            if sources == 'politifact':
                news_id = str(news_dir).replace('politifact','')
            elif sources == 'gossipcop':
                news_id = str(news_dir).split('-')[1]
            if news_id and os.path.exists(tweets_dir) and os.listdir(tweets_dir):
                tweets_files = os.listdir(tweets_dir)
                cnt += len(tweets_files)
                for tweet_file in tweets_files:
                    tweets_full_path = tweets_dir + tweet_file
                    with open(tweets_full_path, 'r') as f:
                        data = json.load(f)
                        fake = 1 if label == 'fake' else 0
                        tweet_dict = {'tweets_id':data['id'], 'created_at':data['created_at'], 'text':data['text'], 'news_id':news_id, 'user_id':data['user']['id'], 'location':data['user']['location'], 'verified':data['user']['verified'], 'source':data['source'],'followers_count':data['user']['followers_count'],'retweet_count':data['retweet_count'],'favorite_count':data['favorite_count'],'fake':fake}
                        tweet_dict_list.append(tweet_dict)
    print('tweet count',cnt)
    return pd.DataFrame(tweet_dict_list)

# gossipcop

In [33]:
gossipcop_fake_df = collect_tweets('gossipcop','fake')
gossipcop_fake_df.head()

tweet count 453824

,tweets_id,created_at,text,news_id,user_id,location,verified,source,followers_count,retweet_count,favorite_count,fake
0,840237926642536449,Fri Mar 10 16:28:27 +0000 2017,Did Miley Cyrus and Liam Hemsworth Secretly Ge...,2493749932,789180505824501760,,False,"<a href=""http://publicize.wp.com/"" rel=""nofoll...",675,0,0,1
1,841849268646338560,Wed Mar 15 03:11:21 +0000 2017,Retweeted CBS Los Angeles (@CBSLA):\n\nTonight...,2493749932,2929255242,"Biloxi, Mississippi",False,"<a href=""http://www.facebook.com/twitter"" rel=...",803,0,0,1
2,928532613056352256,Thu Nov 09 08:00:00 +0000 2017,Did Miley Cyrus and Liam Hemsworth secretly ge...,2493749932,17208738,"heat Towers, London",True,"<a href=""https://about.twitter.com/products/tw...",340496,0,1,1
3,757614017808437248,Mon Jul 25 16:30:32 +0000 2016,Did @MileyCyrus and @LiamHemsworth secretly ge...,2493749932,15087120,New Orleans,True,"<a href=""https://about.twitter.com/products/tw...",775159,3,9,1
4,284902943201837056,Sat Dec 29 06:05:29 +0000 2012,Did Miley Cyrus and Liam Hemsworth secretly ge...,2493749932,171535808,,False,"<a href=""http://trap.it"" rel=""nofollow"">Trapit...",1015,0,0,1

In [39]:
gossipcop_fake_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453824 entries, 0 to 453823
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tweets_id        453824 non-null  int64
 1   created_at       453824 non-null  object
 2   text             453824 non-null  object
 3   news_id          453824 non-null  object
 4   user_id          453824 non-null  int64
 5   location         453824 non-null  object
 6   verified         453824 non-null  bool
 7   source           453824 non-null  object
 8   followers_count  453824 non-null  int64
 9   retweet_count    453824 non-null  int64
 10  favorite_count   453824 non-null  int64
 11  fake             453824 non-null  int64
dtypes: bool(1), int64(6), object(5)
memory usage: 38.5+ MB

In [34]:
gossipcop_real_df = collect_tweets('gossipcop','real')
gossipcop_real_df.head()

tweet count 760030

,tweets_id,created_at,text,news_id,user_id,location,verified,source,followers_count,retweet_count,favorite_count,fake
0,912414620870152192,Mon Sep 25 20:32:52 +0000 2017,All the Details on Teen Mom Star Jenelle Evans...,882573,840524255024492544,"Los Angeles, CA",False,"<a href=""https://ifttt.com"" rel=""nofollow"">IFT...",13,0,0,0
1,913840022629093376,Fri Sep 29 18:56:54 +0000 2017,All the Details on Teen Mom Star Jenelle Evans...,882573,791278963419181056,United Kingdom,False,"<a href=""http://comedyfeed.co.uk/"" rel=""nofoll...",209,0,0,0
2,913187882650734598,Wed Sep 27 23:45:32 +0000 2017,All the Details on Teen Mom Star Jenelle Evans...,882573,705108363386945536,"Baltimore, MD",False,"<a href=""https://buffer.com"" rel=""nofollow"">Bu...",13,0,0,0
3,913330250079199232,Thu Sep 28 09:11:15 +0000 2017,All the Details on Teen Mom Star Jenelle Evans...,882573,844951679921537024,"New Jersey, USA",False,"<a href=""https://buffer.com"" rel=""nofollow"">Bu...",6,0,0,0
4,912414598887804928,Mon Sep 25 20:32:46 +0000 2017,All the Details on Teen Mom Star Jenelle Evans...,882573,839708192179437568,"Indianapolis, IN",False,"<a href=""https://ifttt.com"" rel=""nofollow"">IFT...",4,0,0,0

In [40]:
gossipcop_real_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760030 entries, 0 to 760029
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tweets_id        760030 non-null  int64
 1   created_at       760030 non-null  object
 2   text             760030 non-null  object
 3   news_id          760030 non-null  object
 4   user_id          760030 non-null  int64
 5   location         760030 non-null  object
 6   verified         760030 non-null  bool
 7   source           760030 non-null  object
 8   followers_count  760030 non-null  int64
 9   retweet_count    760030 non-null  int64
 10  favorite_count   760030 non-null  int64
 11  fake             760030 non-null  int64
dtypes: bool(1), int64(6), object(5)
memory usage: 64.5+ MB

In [44]:
gossipcop = pd.concat([gossipcop_fake_df, gossipcop_real_df], axis = 0)

In [45]:
gossipcop.to_csv('gossipcop_tweets.csv')

# politifact

In [46]:
politifact_fake_df = collect_tweets('politifact','fake')
politifact_fake_df.head()

tweet count 114199

,tweets_id,created_at,text,news_id,user_id,location,verified,source,followers_count,retweet_count,favorite_count,fake
0,871392227364352000,Sun Jun 04 15:44:31 +0000 2017,Cannibals Arrested in Florida Claim Eating Hum...,14238,703090118886760448,,False,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",135,0,0,1
1,871391833758289925,Sun Jun 04 15:42:57 +0000 2017,Cannibals Arrested in Florida Claim Eating Hum...,14238,18729871,"Charlotte, NC",False,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",5815,0,1,1
2,1009634226784952321,Thu Jun 21 03:08:52 +0000 2018,Cannibals Arrested In Florida Claim Eating Hum...,14238,991728523,West Virgina,False,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",1967,0,0,1
3,871410101659283456,Sun Jun 04 16:55:32 +0000 2017,Cannibals Arrested in Florida Claim Eating Hum...,14238,21541777,Missouri,False,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",462,0,0,1
4,870880157925466113,Sat Jun 03 05:49:44 +0000 2017,Cannibals Arrested in Florida Claim Eating Hum...,14238,2802400666,"Panama City, FL",False,"<a href=""http://twitter.com/download/android"" ...",158,0,0,1

In [47]:
politifact_real_df = collect_tweets('politifact','real')
politifact_real_df.head()

tweet count 310891

,tweets_id,created_at,text,news_id,user_id,location,verified,source,followers_count,retweet_count,favorite_count,fake
0,709093581965959168,Sun Mar 13 19:07:38 +0000 2016,#TRUTH @ Apostolic Church of God - Chicago htt...,537,128762218,,False,"<a href=""http://instagram.com"" rel=""nofollow"">...",1131,0,0,0
1,97098579340042240,Sat Jul 30 00:17:59 +0000 2011,I'm at Apostolic Church of God (6300 S Dorches...,537,146244816,Chicago,False,"<a href=""http://foursquare.com"" rel=""nofollow""...",98,0,0,0
2,590683143289577474,Wed Apr 22 01:06:50 +0000 2015,Withholding Nothing Conference (@ Apostolic Ch...,537,108142050,Chicago and New York City,False,"<a href=""http://foursquare.com"" rel=""nofollow""...",487,0,0,0
3,758229711399030785,Wed Jul 27 09:17:05 +0000 2016,Chicago - Apostolic Church of God Sanctuary Ch...,537,77958508,"Chicago, IL",False,"<a href=""https://www.google.com/"" rel=""nofollo...",1119,1,1,0
4,1010417845409181696,Sat Jun 23 07:02:41 +0000 2018,Here’s the team for #theGathering #weluhGod #t...,537,49718378,"ÜT: 41.776915,-87.745101",False,"<a href=""http://instagram.com"" rel=""nofollow"">...",1058,0,0,0

In [48]:
politifact = pd.concat([politifact_fake_df, politifact_real_df], axis = 0)
politifact.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 425090 entries, 0 to 310890
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tweets_id        425090 non-null  int64
 1   created_at       425090 non-null  object
 2   text             425090 non-null  object
 3   news_id          425090 non-null  object
 4   user_id          425090 non-null  int64
 5   location         425090 non-null  object
 6   verified         425090 non-null  bool
 7   source           425090 non-null  object
 8   followers_count  425090 non-null  int64
 9   retweet_count    425090 non-null  int64
 10  favorite_count   425090 non-null  int64
 11  fake             425090 non-null  int64
dtypes: bool(1), int64(6), object(5)
memory usage: 39.3+ MB

In [49]:
politifact.to_csv('politifact_tweets.csv')